@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

html {
    font-family: 'Playfair', serif;
}

h1,h2 {
    font-family: 'DM Serif Text', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1 {
    font-size: 42px;
    text-align: center;
    letter-spacing: 4px;
}

h2 {
    font-size: 25px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

p,li {
    line-height: 1.5;
    letter-spacing: 1px;
}

section h2 + p {
    text-indent: 2rem;
}

a {
    outline: none;
}

a:focus, a:hover {
    text-decoration: none;
    color: rgb(255, 79, 79);
}

a:link, a:visited {
    color: #bc2727;
}

a[href*="http"] {
    padding-right: 14px;
    background: url("external-link-52.png") no-repeat right center;
    background-size: 11px 11px;
}